{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block extrastyle %}{% endblock %}

    {% if LANGUAGE_BIDI %}
    {% endif %}

    {% block extrahead %}{% endblock %}
    {% block extrameta %}{% endblock %}
    {% block blockbots %}
        <meta name="robots" content="index, follow">
    {% endblock %}
    <meta charset="utf-8">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
</head>
<body>
<div class="container">
    {% block content %} {% endblock %}
</div>
</body>
</html>
